@import "../file_browser/local/fonts";
@import "../file_browser/config/colors";

.action-bar {
  background-color: var(--color1-normal);
  align-content: end;
  margin-bottom: 10px;
}

.action-bar-button {
  background-color: transparent;
  width: 100px;
  margin: 10px;
  cursor: pointer;
  font-family: $font;
  border: none;
}
