.file-browser-item-layout {
  padding: 7px 10px;
  height: 25px;
  display: flex;
}

.selected-item-layout {
  padding: 7px 10px;
  height: 25px;
  display: flex;
}

.icon-layout {
  width: 25px;
  height: auto;
}

.system-item-name-layout {
  margin-left: 10px;
  align-content: center;
}