@import "./variables.scss";

body {
  margin: 0;
  font-family: $font;
}

.app {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
}

.file-browser-item {
  text-align: left;
  padding: 7px 10px;
  height: 25px;
  cursor: pointer;
  display: flex;
  color: black;
  background-color: #e6e8eb;
}

.system-item-name {
  margin-left: 10px;
  align-content: center;
}

.icon {
  width: 25px;
  height: auto;
}

.icon-button {
  border: none;
  width: 28px;
  background-color: transparent;
  cursor: pointer;
}

.dialog {
  border-radius: $borderRadius;
  border-color: lightgrey;
  padding: 20px;
  width: auto;
  height: auto;
  max-width: 45%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.dialog-button {
  color: white;
  background-color: $blue;
  font-family: $font;
  border: none;
  border-radius: $borderRadius;
  flex: 1;
  margin: 15px;
  cursor: pointer;
  height: 30px;
  font-weight: bold;
  &:hover {
    background-color: $dialogbuttonColorHover;
  }
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
}

.input-dialog-container {
  display: flex;
  margin: 15px;
  justify-content: space-between;
}

.input-dialog {
  flex: 1;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: $borderRadius;
  font-family: $font;
}