$blue: #2f84ea;
$dialogbuttonColorHover: #1d569b;

$borderRadius: 5px;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;